<main class="flex items-center flex-col">
  <h1 class="text-4xl mb-5 mt-3">GeoScramble</h1>
  <img
    *ngIf="currentGameData"
    src="{{ countryInfo[currentGameData.countryCode].mapImage }}"
    alt="map of {{ countryInfo[currentGameData.countryCode].countryName }}"
    class="map-image"
  />
  <h1 class="text-xl">Scrambled Landmark:</h1>
  <h1 class="text-5xl text-blue-300">
    {{ currentGameData?.scrambledLandmarkName }}
  </h1>
  <app-guess-input
    (guessSubmitted)="onGuessSubmitted($event)"
  ></app-guess-input>
  <app-guess-list
    [guesses]="guesses"
    [correctGuess]="currentGameData?.landmarkName || ''"
  ></app-guess-list>
  <h2 class="mt-10 mb-3">How to play</h2>
  <p class="text-center">
    You will be shown some scrambled text which represents the name of a famous
    landmark from the country seen above.
  </p>
</main>
