<div class="main-container" *ngIf="gameState$ | async as gameState">
  <main class="flex items-center flex-col pb-7">
    <app-top-nav (showInfoModal)="showInfoModal = true"></app-top-nav>

    <img
      *ngIf="gameState.countryCode"
      src="{{ countryInfo[gameState.countryCode].mapImage }}"
      alt="outline of a country"
      class="map-image"
    />

    <div class="my-4 text-center">
      <h1 class="text-xl">Scrambled Landmark Name:</h1>
      <h1 class="text-5xl text-blue-300">
        {{ gameState.scrambledLandmarkName }}
      </h1>
    </div>

    <app-guess-input
      (guessSubmitted)="onGuessSubmitted($event)"
    ></app-guess-input>

    <p>Guesses: {{ gameState.guesses.length }}/6</p>

    <app-guess-list></app-guess-list>

    <p *ngIf="gameState.status === 'incorrect'" class="text-success text-lg">
      Correct answer: {{ gameState.landmarkName }}
    </p>

    <app-share-button *ngIf="gameState.status !== 'active'"></app-share-button>

    <div *ngIf="gameState.status !== 'active'" class="text-center">
      <h2 class="mt-10 mb-3 text-xl">Landmark Description:</h2>
      <p>
        {{ gameState.description }}
      </p>
    </div>

    <button
      *ngIf="!FEATURE_FLAG_DAILY_GAME"
      class="btn btn-warning mt-4"
      (click)="newGame()"
    >
      New Game
    </button>
  </main>
  <app-modal [show]="showInfoModal" (close)="showInfoModal = false">
    <p>
      The aim of the game is to guess the famous landmark from the scrambled
      words. You can use the outline of the respective country to help you make
      your guess.
    </p>
  </app-modal>
</div>
